		*{
           margin: 0;
           border: 0;
           padding: 0;

		}
		html{
			font-family: arial;
			font-size: 62.5%;
			scroll-behavior: smooth;
		}
		header{
			background: linear-gradient(to top, #fff, #ff0000);
			color: #fff;
			font-size: 1.8rem;
			padding: 1rem;
			padding-top: 2rem;
			position: fixed;
			width: 100%;
		}
		footer{
			background: linear-gradient(to bottom, #fff, #ff0000);
			color: #000;
			font-size: 1.8rem;
			padding: 1rem;
			text-align: center;
		}
		.conteudo{
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			text-align: justify;
			margin: 0 auto;
			max-width: 95%;

		}
		.conteudo-topo{
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			text-align: justify;
			margin: 0 auto;
			max-width: 95%;
			padding-top: 32rem;
		}
		h1{
			font-size: 2rem;
			text-align: center;
			text-shadow: 1px 1px 1px #000;
			color: rgb(255, 0, 0);
		}

		h2{
			font-size: 1.9rem;
		}

		h3{
			font-size: 1.7rem;
		}
		h4{
			font-size: 1.6rem;
		}
		h5{
			font-size: 3rem;
			text-align: center;
			text-shadow: 1px 1px 1px #000;
			color: rgb(255, 0, 0);
		}
		figure{

			text-align: center;
		}
		.imagens-site{
			border-radius: 10px 10px 10px 10px;
			width: 70%;
			height: 50%;
		}
		@media(min-width: 280px) and (max-width: 820px){
			.imagens-site{
			border-radius: 20px 20px 50px 20px;
			width: 90%;
			height: 70%;
			border: solid;
		}
		}
		#compras{
			background-color: rgba(255, 215, 0, 0.75);
			width: 160px;
			height: 100px;
			right: 0;
			position: fixed;
			text-align: center;
			margin-top: 25rem;
			z-index: 1;
			border-radius: 20px;
			padding-top: 5px;
			border: solid rgb(0, 255, 0);
		}
		@media(min-width: 280px) and (max-width: 820px)
		#grid-conteudo{
			background-color: #fff;
		}
		#grid-conteudo{
			background-color: #fff;
			padding-top: 20rem;
		}
		.grid{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			grid-gap: 1px;
			max-width: 1200px;
			margin: 0 auto;
		}
		.grid div{
			background-color: #fff;
			text-align: center;
			padding: 0.5rem;
		}
		#formulario{
			background-color: #dcdcdc;
		}
		input{
			border: solid;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.8rem;
		}
		#mensagem{
			border: solid;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.8rem;
		}
		#btn-limpar{
			background-color: #ff0000;
			color: #fff;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}
		#bnt-enviar{
			background-color: #ff0000;
			color: #fff;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}
		#btn-compras{
			text-align: center;
		}
		nav{
			text-align: right;
			font-size: 1.6rem;
			word-spacing: 30px;
			margin-right: 5%;
			padding-bottom: 5px;
		}
		a{
			text-decoration: none;
			color: #ffff00;
			font-weight: bold;
			text-shadow: 2px 2px 3px #000;
			background-color: rgb(255, 0, 0);
			padding: 3px;
			border-radius: 10px;
		}
		a:hover{
			color: #fff;
			text-shadow: 2px 2px 3px #000;
			background-color: rgb(255, 0, 0);
			padding: 3px;
			border-radius: 10px;
			border: solid #ffff00;
		}